body{
	background:#333333 url(images/page-bg.jpg);
	margin:0px;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#6a6969;
}
h1{font: 400 58px/60px 'Bree Serif', Georgia, serif; color:#6a6969;}
h2{font: 400 18px/22px 'Bree Serif', Georgia, serif; color:#6a6969;}
h3{font: 400 14px/16px 'Bree Serif', Georgia, serif; color:#6a6969;}
ul{margin:0px; padding:0px;}
a {text-decoration:none; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0px;}

#container{
	width:950px;
	margin:0px auto 300px auto;
	background:url(images/body-bg.png);
	overflow:auto;
	padding-bottom:100px;
}


#header{
	width:864px;
	height:115px;
	background-color:#222222;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top:40px;
	float:left;
	

}
#header #main-menu{float:right; padding-top:45px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}


#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}

#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}

#experience{margin:0px 43px; padding-top:115px;}
#experience .col{
	width:235px;
	float:left;
}
#experience .content{overflow:auto;}
#experience .col-mid{margin:0px 65px;}


#connect{margin:0px 43px; padding-top:115px;}
#connect .content{overflow:auto;}
#connect #form{
	width:410px;
	float:left;
}
#connect #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#3b3b3b;
}
.content
{
	clear: both;

}


